<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>images</key>
	<dict>
		<key>moreLoginMailButton</key>
		<string>mailbox_sdk_login_40x40_</string>
		<key>moreLoginTianyiButton</key>
		<string>tianyi_sdk_login_40x40_</string>
		<key>moreLoginQQButton</key>
		<string>qq_sdk_login_40x40_</string>
		<key>moreLoginWechatButton</key>
		<string>weixin_sdk_login_40x40_</string>
		<key>loginCloseButtonImage</key>
		<string>close_sdk_login_14x14_</string>
		<key>loginReadButtonSelecte</key>
		<string>details_choose_ok_icon_15x15_</string>
		<key>loginReadButton</key>
		<string>details_choose_icon_15x15_</string>
		<key>publishButtonBackgroundSelectedImage</key>
		<string>feed_publish_press_44x44_</string>
		<key>publishButtonBackgroundImage</key>
		<string>feed_publish_44x44_</string>
		<key>cellNightArrow</key>
		<string>setting_rightarrow_8x14_</string>
		<key>loginMobileButton</key>
		<string>cellphoneicon_login_profile_66x66_</string>
		<key>loginWechatButton</key>
		<string>weixinicon_login_profile_66x66_</string>
		<key>loginQQButton</key>
		<string>qqicon_login_profile_66x66_</string>
		<key>loginSinaButton</key>
		<string>sinaicon_login_profile_66x66_</string>
		<key>mineFavoriteButton</key>
		<string>favoriteicon_profile_24x24_</string>
		<key>mineHistoryButton</key>
		<string>history_profile_24x24_</string>
		<key>dayOrNightButton</key>
		<string>nighticon_profile_24x24_</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>loginMobileViewBackgroundColor</key>
		<string>#ffffff</string>
		<key>enterToutiaoTextColor</key>
		<string>#ffffff</string>
		<key>enterToutiaoBackgroundColor</key>
		<string>#f9a9a9</string>
		<key>abbarTintColor</key>
		<string>#f55a5d</string>
		<key>tableViewBackgroundColor</key>
		<string>#F2F3F4</string>
		<key>globalRedColor</key>
		<string>#DE5448</string>
		<key>separatorViewColor</key>
		<string>#f0f0f0</string>
		<key>cellRightTextColor</key>
		<string>#aaaaaa</string>
		<key>moreLoginBackgroundColor</key>
		<string>#00000060</string>
		<key>moreLoginTextColor</key>
		<string>#ffffff</string>
		<key>black</key>
		<string>#000000</string>
		<key>cellBackgroundColor</key>
		<string>#ffffff</string>
	</dict>
</dict>
</plist>
